
@{
    var productModel = new MobilePhoneStoreEcommerce.Models.ControllerModels.ProductModel();

    List<MobilePhoneStoreEcommerce.Core.Domain.Category> categories = productModel.allCategories();
}

<div class="dropdown">
	<button class="drop_btn">
		<img src="~/Assets/images/menu-bar.png" style="width: 30px;" />
	</button>
	<div class="dropdown-content">
		@foreach (var items in categories)
		{
			<a href="@Url.Action("Category", "HomeScreen", new { id = items.ID })">@items.Name</a>
		}
	</div>
</div>
