@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SucessView</title>
</head>
<body>
    <div style="margin:2rem"> 
        <h1 class="for_h2">Success Payment</h1>
        <div style="margin: 1rem;">
            <a class="btn btn-success" href="@Url.Action("Index", "HomeScreen")">Go to home</a>
        </div>
    </div>
</body>
</html>
