@model MobilePhoneStoreEcommerce.Models.ViewModels.AllRoles
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        @foreach (var role in Model.Roles)
        {
            <h1>@role.Name</h1>
        }
    </div>
</body>
</html>
